<div class="input-endereco">
  <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet" />

  <div class="form-group left-inner-addon">
    <form class="busca">
      <div class="form-row">
        <div class="col-md-6">
          <i class="ni ni-pin-3"></i>
          <input type="text" class="form-control" placeholder="Endereço" />
        </div>
        <div class="form-row">
          <div>
            <select class="form-select" aria-label="Default select example">
              <option selected>Tipo de pet</option>
              <option value="1">Cachorro</option>
              <option value="2">Gato</option>
            </select>
          </div>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-lg">search</button>
        </div>
      </div>
    </form>
  </div>
</div>
