<div class="p-4 bg-secondary">
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" placeholder="Nome" class="form-control form-control-alternative" id="Nome"
                 placeholder="Nome"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" placeholder="SobreNome" class="form-control form-control-alternative" id="sobrenome"
                 placeholder="Sobrenome"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="email" class="form-control form-control-alternative" id="email" placeholder="name@example.com">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input type="email" class="form-control form-control-alternative" id="senha" placeholder="*****">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <a> Telefone</a>
        <div class="form-group">
          <input type="text" placeholder="DDD" class="form-control form-control-alternative"
                 id="ddd" placeholder="DDD"/>
          <input type="text" placeholder="Telefone" class="form-control form-control-alternative"
                 id="telefone" placeholder="Telefone"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <input type="password" placeholder="Cpf" class="form-control form-control-alternative" id="cpf"
                 placeholder="CPF "/>
        </div>
      </div>


    </div>


  </form>
</div>
