

<form class="login-tela">
<!DOCTYPE html>

<html lang="pt-br">

<head>

  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport"content="width=device-width, initial-scale=1.0">

<!-- // <link rel="stylesheet" href="style.css">-->

  <title>Login</title>

</head>

<body>

<div id="login">

  <form class="card">

    <div class="card-header">

      <h2>Login</h2>

    </div>

    <div class="card-content">

      <div class="card-content-area">

        <label for="usuario">Usuário</label>

        <input type="text" id="usuario" autocomplete="off">

      </div>

      <div class="card-content-area">

        <label for="password">Senha</label>

        <input type="password" id="password" autocomplete="off">

      </div>

    </div>

    <div class="card-footer">

      <input type="submit" value="login" class="submit">

      <a href="#" class="recuperar_senha">Esqueceu a senha?</a>

    </div>

  </form>

</div>

</body>

</html>
</form>


<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
